#root {
  padding: 2rem;

  max-width: 1280px;
  /* centers horizontally */
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}

.chat-container {
  display: flex;
  flex-direction: column;
  /* Almost as high as the screen */
  height: 79dvh;
  position: relative;
}

.messages {
  padding: 1rem;
  border-radius: 1rem;
  flex: 1;              /* take remaining space (height) */
  min-height: 0;     /* required for scrolling to work properly */
  display: flex;
  flex-direction: column;

  /* space between elements inside this */
  gap: 0.5rem;

  /* scroll */
  overflow-y: auto;
}

.message {
  border-radius: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;

  /* Message box size */
  width: max-content;
  max-width: 70%;

  /* Message to fit inside the box */
  overflow-wrap: break-word;   /* line break at word */
  word-break: break-word;      /* if no space, break from the middle */
}

.assistant {
  align-self: flex-start;   /* left */
}

.user {
  align-self: flex-end;     /* right */
}

.input-container {
  flex-shrink: 0;  /* don’t shrink */
  display: flex;
  align-items: flex-start; /* prevents stretching */
  gap: 0.5rem;   /* small space between */
  padding-top: 1rem;
  position: sticky;
  bottom: 2rem;
}

#UserInput {
  flex: 1; /* fills available width */
  height: 5rem;
  overflow-y: auto;
  resize: none;
}


.input-container button {
  flex-shrink: 0;  /* don’t shrink */
}