html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* prevents page-level scrolling */
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark; /* Page uses users color preference */
  color: #d1d5db; /* neutral light gray instead of green */
  background-color: #031313;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  margin: 0;
}

#UserInput {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1em;
}

.user {
  background-color: #2ecc71;
  color: #041c1c;
}

.assistant {
  background-color: #062a21;
  color: #2ecc71;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #041c1c;
    background-color: #d1d5db;
  }
  
  .assistant {
    color: #041c1c;
    background-color: #9c9b9b;
  }
}

/* Send button color style */

.send-button svg {
  display: block;
  margin: auto;
}

.send-button:hover,
.send-button:active,
.send-button:focus,
.send-button:focus-visible {
  color: #d1d5db;
}

.send-button {
  border: none;
  background-color: transparent;
  color: #2ecc71;
}

@media (prefers-color-scheme: light) {
  
  .send-button {
    color: #062a21;
  }
  .send-button:hover,
  .send-button:active,
  .send-button:focus,
  .send-button:focus-visible {
    color: rgba(6, 42, 33, 0.1);
  }
}